@import'./base/common.scss';
@import'./components/containers';
@import'./components/tittle';
@import'./utils/variables';
@import'./base/reset';
@import'./layout/header';
@import'./layout/hero';
@import'./layout/peculiarities';
@import'./layout/about';
@import'./layout/team';
@import'./layout/clients';
@import'./layout/footer';
@import'./layout/portfolio';
@import'./layout/gallery';
@import'./components/modal';
@import'./utils/hidden';
