.footer {
    background-color: var(--bgr-color-acent);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__contacts {
    margin-right: 70px;
}
.footer__logo {
    display: block;
    margin-bottom: 20px;
}


.footer__item>a {
    font-style: normal;
    font-size: var(--font-size-base);
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer__list {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,&:focus {
        color: var(--acent-color);
        }
}


.footer__item:nth-child(n+2) {
    margin-top: 9px;
}

a[href=" https://goo.gl/maps/LfRihioMRKPNniMt5"] {
    color: var(--text-buttom-color);
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-base);
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover {
            color: var(--acent-color);
        }
}


.footer__soc {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.social__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    top: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,&:focus {
            background-color: #2196F3;
        }
}

.social__icon--light {
    fill: #FFFFFF;
}

.footer-label {
    margin-bottom: 20px;
    width: 100%;
    font-weight: var(--font-weight-acent);
    font-size: var(--font-size-base);
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.footer__input{
 margin-right: 12px;
}
.form__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
   
    background-color: #2F303A;
    ;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
            border-color: #fff;
            outline: transparent;
    
        }
   &::placeholder {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 400;
       font-size: var(--font-size-secondary);
       line-height: 1.25;
       letter-spacing: 0.03em;
       color: rgba(255, 255, 255, 0.6);
   }
}

.footer__form {
    display: flex;
    width: 100%;
}

.footer__button {
    display: flex;
    align-items: center;
    justify-content: center;}

.form__button{
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: var(--font-size-secondary);
    line-height: 1.88;

    letter-spacing: 0.06em;
}

.btn__icon {
    margin-left: 10px;
}

.soc {
    margin-right: 93px;
    >h3 {
            font-style: normal;
            font-weight: var(--font-weight-acent);
            font-size: var(--font-size-base);
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
    
            color: #FFFFFF;
            margin-bottom: 20px;
        }
}