.hero {
    background-color: var(--bgr-color-acent);
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-mob.jpg);
     background-repeat: no-repeat;  
 
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    
    background-position: center;
 
      >.container {
            text-align: center;
        }
    @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image:linear-gradient(rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)), url(../images/hero-mob-2x.jpg);
                }
 @media screen and (min-width:768px){
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
              url(../images/hero-tab.jpg);
 @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
        background-image:linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(../images/hero-tab-2x.jpg);
                }
          }
          
 @media screen and (min-width:1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
padding-top: 200px;
padding-bottom: 200px;
height: 600px;
max-width: 1600px;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url(../images/hero-bg-2x.jpg);
        }
}
     
}

.hero-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 696px;

    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-buttom-color);
}

.hero-button {
    min-width: 200px;
    height: 50px;
    padding: 11px 32px;

    border: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: var(--font-weight-acent);
    font-size: var(--font-size-secondary);
    line-height: 1.88;
    color: var(--text-buttom-color);
    text-align: center;
    letter-spacing: 0.06em;
    background: var(--acent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}