.box-contacts {
  text-align: center;
    @media screen and (min-width:1200px){
        display: flex;
    }
}

.contacts {
    margin-right: 0px;
    // @media screen and(min-width:1200px) {
    // margin-right: 70px;
    // }
}

.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px; }
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 30px;

    @media screen and (min-width:768px) {
        justify-content: center; }

     @media screen and (min-width:1200px) {
        margin-bottom: 50px;}
    }

.portfolio__item:nth-child(n+2) {
    margin-left: 8px;
    
}

.portfolio__item:nth-child(-n+3){
    margin-bottom: 15px;
    @media screen and (min-width:768px){
        margin-bottom: 0;
    }

}

.portfolio__button {
    padding: 6px 22px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: var(--font-weight-secondary);
    font-size: var(--font-size-secondary);
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background: #F5F4FA;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus {
                color: var(--text-buttom-color);
                background-color: var(--acent-color);
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            }
}

