.mob-menu {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

    .menu-close {
        position: absolute;
        border: none;
        background-color: transparent;
        top: 10px;
        right: 0px;
        cursor: pointer;
    }
}

.menu-icon {
    fill: #212121;

    &:hover {
        fill: #2196F3;
        cursor: pointer;
    }

}

.mob-menu-list .mob-menu-item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-menu-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;

    color: #212121;
}

.mob-menu-contact {
    margin-top: 302px;
}

.mob-connect-tel {
    display: block;
    margin-bottom: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;

    color: #2196F3;
}

.mob-connect-email {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: #757575;
}

.menu-open {
    position: absolute;
    top: 10px;
    right: 0px;
    border: none;
    background-color: transparent;

    @media screen and (min-width:768px) {
        display: none;

    }
}

.menu-soc {
    margin-top: 64px;

    .mob-soc-list {
        display: flex;
        gap: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;

        color: #2196F3;
    }
}
.mob-soc-link {
    color: #2196F3;
    border-right:1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px; 
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
}