:root {
    --main-text-color: #212121;
    --second-text-color: #757575;
    --text-buttom-color: #ffffff;
    --acent-color: #2196f3;
    --bgr-color-acent: #2f303a;
    --bgr-color: #E5E5E5;
    --bgr-second-color: #F5F4FA;

    --font-logo: Raleway;
    --font-main: "Roboto",sans-serif;
    --font-size-base: 14px;
    --font-size-secondary:16px;
    --font-weight-acent:700;
    --font-weight-secondary:500;
}
